/* Write your CSS here */
.event-item-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px;
}

.img-container {
  border-radius: 9px;
  width: 100%;
  margin: 5px;
  padding: 0px;
  border-width: 0px;
}

.event-img-style {
  width: 100%;
  height: 100%;
}

.event-name {
  color: #ffffff;
  font-family: roboto;
  font-size: 27px;
}

.event-location {
  color: #ffffff;
  font-family: roboto;
}
